<h1><center>Data wrangling in Python</center></h1>
<p><center>Instructors: August Guang and Ashok Ragavendran</center>
 <center>Center for Computation and Visualization</center>
 <center>Center for Computational Biology of Human Disease - Computational Biology Core</center></p>

# <center> Overall objectives </center>
By the end of the workshop you will be familiar with a few different approaches to manipulate data in python. Specifically you will learn to:
- Read and manipulate data in arbitrary files
- Read and manipulate data in structured file formats using Pandas

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Working-with-files" data-toc-modified-id="Working-with-files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Working with files</a></span><ul class="toc-item"><li><span><a href="#Opening-files-in-python" data-toc-modified-id="Opening-files-in-python-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Opening files in python</a></span></li><li><span><a href="#Writing-to-files" data-toc-modified-id="Writing-to-files-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Writing to files</a></span></li><li><span><a href="#Let's-put-it-all-together" data-toc-modified-id="Let's-put-it-all-together-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Let's put it all together</a></span></li></ul></li><li><span><a href="#Data-Structures" data-toc-modified-id="Data-Structures-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Structures</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Dimensions-&amp;-Description-of-Data-Structures" data-toc-modified-id="Dimensions-&amp;-Description-of-Data-Structures-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Dimensions &amp; Description of Data Structures</a></span></li></ul></li><li><span><a href="#The-Series-container-type" data-toc-modified-id="The-Series-container-type-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>The <code>Series</code> container type</a></span><ul class="toc-item"><li><span><a href="#Fun-Facts-about-Series" data-toc-modified-id="Fun-Facts-about-Series-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Fun Facts about Series</a></span></li></ul></li><li><span><a href="#Some-useful-and-interesting-functions" data-toc-modified-id="Some-useful-and-interesting-functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Some useful and interesting functions</a></span><ul class="toc-item"><li><span><a href="#Useful-functions" data-toc-modified-id="Useful-functions-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Useful functions</a></span></li><li><span><a href="#Interesting" data-toc-modified-id="Interesting-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Interesting</a></span></li></ul></li><li><span><a href="#The-DataFrame-container-type" data-toc-modified-id="The-DataFrame-container-type-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>The <code>DataFrame</code> container type</a></span></li><li><span><a href="#Creating-a-DataFrame" data-toc-modified-id="Creating-a-DataFrame-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Creating a <code>DataFrame</code></a></span></li><li><span><a href="#Slicing" data-toc-modified-id="Slicing-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Slicing</a></span></li></ul></li><li><span><a href="#So-now-what..-Let's-look-at-some-common-operations-with-DataFrames" data-toc-modified-id="So-now-what..-Let's-look-at-some-common-operations-with-DataFrames-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>So now what.. Let's look at some common operations with DataFrames</a></span><ul class="toc-item"><li><span><a href="#Reading-in-a-dataframe-from-a-file" data-toc-modified-id="Reading-in-a-dataframe-from-a-file-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Reading in a dataframe from a file</a></span><ul class="toc-item"><li><span><a href="#Why-use-something-like-Pandas-instead-of-excel" data-toc-modified-id="Why-use-something-like-Pandas-instead-of-excel-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Why use something like Pandas instead of excel</a></span></li></ul></li><li><span><a href="#The-power-of-indexes" data-toc-modified-id="The-power-of-indexes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>The power of indexes</a></span></li><li><span><a href="#Useful-functions" data-toc-modified-id="Useful-functions-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Useful functions</a></span><ul class="toc-item"><li><span><a href="#Melt" data-toc-modified-id="Melt-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Melt</a></span></li><li><span><a href="#Query-or-Condition" data-toc-modified-id="Query-or-Condition-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Query or Condition</a></span></li><li><span><a href="#Duplicated" data-toc-modified-id="Duplicated-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Duplicated</a></span></li><li><span><a href="#Apply-and-Applymap" data-toc-modified-id="Apply-and-Applymap-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>Apply and Applymap</a></span></li><li><span><a href="#Append-and-Concat" data-toc-modified-id="Append-and-Concat-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span>Append and Concat</a></span></li><li><span><a href="#Merge" data-toc-modified-id="Merge-3.3.6"><span class="toc-item-num">3.3.6&nbsp;&nbsp;</span>Merge</a></span></li></ul></li><li><span><a href="#Categorical-vs.-categorical-columns" data-toc-modified-id="Categorical-vs.-categorical-columns-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Categorical vs. categorical columns</a></span></li></ul></li></ul></div>

## Working with files 

Python makes it very simple to work with text files. I find python very useful for most of most of my scripting needs and quick modification of arbitrary test files. There are a few pros to using python:

- scripts are eaay to write and read
- provides an reproducible way to modify files
- string manipulation is extremly easy with python

We will go through a couple of quick examples of working with arbitrary files and scripting with python first

### Opening files in python

Python has a simple function to open files `open()`. Let's open an example file in GTF format which is  a text format used in Bioinformatics:

```
381 Twinscan  CDS          380   401   .   +   0  gene_id "001"; transcript_id "001.1";
381 Twinscan  CDS          501   650   .   +   2  gene_id "001"; 
381 Twinscan  CDS          700   707   .   +   2  gene_id "001"; transcript_id "001.1";
381 Twinscan  start_codon  380   382   .   +   0  gene_id "001"; transcript_id "001.1";
381 Twinscan  stop_codon   708   710   .   +   0  gene_id "001"; transcript_id "001.1";
```

The fields  or column names for the above file are  
```
<seqname> <source> <feature> <start> <end> <score> <strand> <frame> [attributes] [comments] 
```
In our case it does not really matter what they are,  just that we need to perhaps add the missing `transcript_id` in the second line.

Let's load the file into python, the above text is in the file `example.gtf` in the data folder

In [1]:
f= open("data/example.gtf")

Now this just opens a connection to the file and not the contents of the file itself. Let's take a look

In [2]:
print(f)

<_io.TextIOWrapper name='data/example.gtf' mode='r' encoding='UTF-8'>

Since this is s small file we will load the entire file into memory

In [3]:

f= open("data/example.gtf").readlines()
print(f)

['381 Twinscan  CDS          380   401   .   +   0  gene_id "001"; transcript_id "001.1";\n', '381 Twinscan  CDS          501   650   .   +   2  gene_id "001"; \n', '381 Twinscan  CDS          700   707   .   +   2  gene_id "001"; transcript_id "001.1";\n', '381 Twinscan  start_codon  380   382   .   +   0  gene_id "001"; transcript_id "001.1";\n', '381 Twinscan  stop_codon   708   710   .   +   0  gene_id "001"; transcript_id "001.1";\n']

We see that python has created a list from the file and each line in the file is an element of the list. 

This is super useful as now we can iterate through each element in the list, that is work on the file line by line and modify anything we would need in a given line based on some prior logic. Let's do just that, for now we will just print each line

In [4]:
for line in f:
    print(line)

381 Twinscan  CDS          380   401   .   +   0  gene_id "001"; transcript_id "001.1";

381 Twinscan  CDS          501   650   .   +   2  gene_id "001";

381 Twinscan  CDS          700   707   .   +   2  gene_id "001"; transcript_id "001.1";

381 Twinscan  start_codon  380   382   .   +   0  gene_id "001"; transcript_id "001.1";

381 Twinscan  stop_codon   708   710   .   +   0  gene_id "001"; transcript_id "001.1";

 And we can do more
 - print just the 3rd value in each line

In [5]:
for line in f:
    print(line.split()[2])

CDS
CDS
CDS
start_codon
stop_codon

- Check if `transcript_id` is present and if not clean up the line

In [6]:
for line in f:
    tmp_word = line.split(';')
    if 'transcript_id' not in tmp_word[1]:
        continue
    else:
        print(tmp_word)

['381 Twinscan  CDS          380   401   .   +   0  gene_id "001"', ' transcript_id "001.1"', '\n']
['381 Twinscan  CDS          700   707   .   +   2  gene_id "001"', ' transcript_id "001.1"', '\n']
['381 Twinscan  start_codon  380   382   .   +   0  gene_id "001"', ' transcript_id "001.1"', '\n']
['381 Twinscan  stop_codon   708   710   .   +   0  gene_id "001"', ' transcript_id "001.1"', '\n']

Obviously we can carry out multiple operations depending on what we want to accomplish within that line, we just skipped the line above.

Obvioulsy, this is the simplest way to work with files and this is quite powerful. There are a few caveats:
- The `file.readlines()` function reads all the lines into memory and this might not be possible for large files that are bigger than the RAM on your machine.
- This can be quite slow for larger files and scaling up might be an issue

There are a few different solutions to some of the caveats:
- If the file is really large iterate over each line using the `readline()` function instead of the `readlines()` function. 
- You might want to use some of the powerful unix text processing tools such as `grep`, `awk`, `sed` etc and  this is where the scripting power of python can be quite useful

### Writing to files

Writing to files is also simple in python. You use the same `open` function , except that you now provide it with a flag to say that you are writing to the file

<div class="alert alert-block alert-info">
    <b>Tip:</b> 
    <br>The technical term for the flag is `access mode`. You can get look up the different access modes in the link below</br>
    
</div>

[https://www.tutorialspoint.com/python3/python_files_io.htm](https://www.tutorialspoint.com/python3/python_files_io.htm)
<div class="alert alert-block alert-info"> There are some other good resources on that site as well </div>


Let's open a file for writing the output of modifying the GTF file above.

In [7]:
f2 = open("results/exampleout.gtf",'w')

Now we can write to the new file skipping the bad line as we did before

In [8]:
for line in f:
    tmp_word = line.split(';')
    if 'transcript_id' not in tmp_word[1]:
        continue
    else:
        f2.write(';'.join(tmp_word))
        #f2.write(line)
f2.close()

Now we have done something a little different here and that is to close the file we write to. This is so that we do not inadvertantly write to the output file. 

<div class="alert alert-block alert-info"><b>Tip:</b>
    <br>Why did we not do that with `open` ?  </br> </div>
    
This is because with the `readlines()` approach we read in all the lines and so you are the end of the file for reading and you cannont read anymore. But with writing there is a potential to write more to the file and similarly if you use the `readline()` function to read the file one line at a time then you would want to close the file, else it will start reading from where you left off.

**Generally it is more advisable to use the `with` approach that automatically closes the files**

In [9]:
with open("data/example.gtf") as f:
    with open("results/example_out.gtf", 'w') as f2:
        for line in f:
            tmp_word = line.split(';')
            if 'transcript_id' not in tmp_word[1]:
                continue
            else:
                f2.write(line)

In [10]:
f.readline()

ValueError: I/O operation on closed file.

In [13]:
f2.closed

True

In [14]:
with open("results/example_out.gtf", 'r') as f3:
    for line in f3:
        print(line)

381 Twinscan  CDS          380   401   .   +   0  gene_id "001"; transcript_id "001.1";

381 Twinscan  CDS          700   707   .   +   2  gene_id "001"; transcript_id "001.1";

381 Twinscan  start_codon  380   382   .   +   0  gene_id "001"; transcript_id "001.1";

381 Twinscan  stop_codon   708   710   .   +   0  gene_id "001"; transcript_id "001.1";

###  Let's put it all together

To summarize, we have learnt
- To open and close files
- Modify some text in our input file and write it to our output

Why is this useful? We can imagine a few different scenarios:
- First, we have to make some changes in some unstructured way to our files as in our toy example above. As you may imagine in one pass you could combine multiple `if-then` statements, call multiple different functions to process a single line to make all the edit you need in a comprehensible codeset.
- Second, its simple to make a log file to track all the changes we made, which is important both from the perspective of reproducibility and provenance of datasets

Let's go through our simple example again, but this time we will try to build a complete suite including the logs.
So we are going to:
- Iterate through the file
- Find lines that are missing `transcript_id`
- Fix the line and add an transcript_id value
- Write to the log file what line was changed

In [134]:
with open("data/example.gtf") as f:
    with open("results/example_out.gtf", 'w') as f2:
        with open("results/gtf_parse.log",'w') as f3:
            line_counter=1
            for line in f:
                tmp_word = line.split(';')
                line_counter +=1
                if 'transcript_id' not in tmp_word[1]:
                    f3.write("INFO: transcript_id missing in line:" + str(line_counter))
                    tmp_word[1] = 'transscript_id "001.1";'
                    newline = ';'.join(tmp_word) + "\n"
                    f2.write(newline)
                else:
                    f2.write(line)

In [135]:
!cat results/example_out.gtf

381 Twinscan  CDS          380   401   .   +   0  gene_id "001"; transcript_id "001.1";
381 Twinscan  CDS          501   650   .   +   2  gene_id "001";transscript_id "001.1";
381 Twinscan  CDS          700   707   .   +   2  gene_id "001"; transcript_id "001.1";
381 Twinscan  start_codon  380   382   .   +   0  gene_id "001"; transcript_id "001.1";
381 Twinscan  stop_codon   708   710   .   +   0  gene_id "001"; transcript_id "001.1";

# <center> Why `Pandas`? </center>
 The primary object is to work with tabular data with mixed types, like an excel sheet or a CSV. 
 
 Key Features of Pandas
 - Fast and efficient DataFrame object with default and customized indexing.
 - Tools for loading data into in-memory data objects from different file formats.
 - Data alignment and integrated handling of missing data.
 - Reshaping and pivoting of date sets.
 - Label-based slicing, indexing and subsetting of large data sets.
 - Columns from a data structure can be deleted or inserted.
 - Group by data for aggregation and transformations.
 - High performance merging and joining of data. 
 - Time Series functionality.

## Data Structures

Pandas deals primarily with the following three data structures
- Series
- DataFrame

These data structures are built on top of [Numpy](https://numpy.org/doc/stable/user/whatisnumpy.html) arrays, making them fast and efficient. Thus pandas data structures are **highly interopable with numpy arrays**.

#### Dimensions & Description of Data Structures

The best way to think of these data structures is that the higher dimensional data structure is a container of its lower dimensional data structure. 

  **A DataFrame is a container of Series**


<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;">Data Structure</th>
<th style="text-align:center;">Dimensions</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">Series</td>
<td style="text-align:center;">1</td>
<td style="text-align:center;">1D labeled homogeneous array, size-immutable.</td>
</tr>
<tr>
<td style="text-align:center;">Data Frames</td>
<td style="text-align:center;">2</td>
<td style="text-align:center;">General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.</td>
</tr>
</tbody></table> 

DataFrame is widely used and many of the operations on the DataFrame involve working on one or more series within the DataFrame

### The `Series` container type

Series is a one-dimensional array like structure with homogeneous data. For example, the following series is a collection of integers `10, 23, 56, …`

<table class="table table-bordered">
<tr>
<td style="text-align:center;">10</td>
<td style="text-align:center;">23</td>
<td style="text-align:center;">56</td>
<td style="text-align:center;">17</td>
<td style="text-align:center;">52</td>
<td style="text-align:center;">61</td>
<td style="text-align:center;">73</td>
<td style="text-align:center;">90</td>
<td style="text-align:center;">26</td>
<td style="text-align:center;">72</td>
</tr>
</table>

Key Points of Series
- Homogeneous data
- Size Immutable
- Values of Data Mutable

In [15]:
from IPython.display import IFrame 
display(IFrame("https://pandas.pydata.org/docs/reference/series.html", width=800, height=300))

In [19]:
import pandas as pd
import numpy as np

Let's create a simple series first

In [20]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [21]:
s

a   -1.330002
b   -2.189316
c    0.183473
d   -1.206654
e   -0.096551
dtype: float64

There are a two important attributes of Series
- the Series has an index 
- Series has a dtype. This is often a NumPy dtype. However, pandas and 3rd-party libraries extend NumPy’s type system in a few places, in which case the dtype would be an ExtensionDtype. Some examples within pandas are Categorical data and Nullable integer data type. See dtypes for more.

In [22]:
s.dtypes

dtype('float64')

#### Fun Facts about Series

- Series is dict-like : A Series is like a fixed-size dict in that you can get and set values by index label. If a label is not contained, an exception is raised

In [23]:
s["f"]

KeyError: 'f'

- Using the `get` method, a missing label will return None or specified default:

In [24]:
s.get("f")
#y=s.get("f")
#print(y)

In [25]:
s.get("f", np.nan)

nan

<div class="alert alert-block alert-warning">
<b class="alert-title">Note</b>
    <p><b>NaN</b> (not a number) is the standard missing data marker used in pandas.</p>
</div>

- Operations between Series automatically align the data based on label.

In [26]:
print(s)
s[1:]

a   -1.330002
b   -2.189316
c    0.183473
d   -1.206654
e   -0.096551
dtype: float64

b   -2.189316
c    0.183473
d   -1.206654
e   -0.096551
dtype: float64

In [27]:
s[:-1]

a   -1.330002
b   -2.189316
c    0.183473
d   -1.206654
dtype: float64

In [28]:
s[1:] + s[:-1]

a         NaN
b   -4.378631
c    0.366946
d   -2.413308
e         NaN
dtype: float64

We can modify series with standard operators and results may depend on the `dtype` of the series. For example woth characters

In [29]:
s1=pd.Series(['a','b','v'])
s2=pd.Series(['e','f','g'])
s1+pd.Series("-",range(3))+s2*2

0    a-ee
1    b-ff
2    v-gg
dtype: object

- Series is ndarray-like

### Some useful and interesting functions
#### Useful functions
- `where` & `mask`

In [30]:
t=pd.Series([1,2,3,4,5])
t.where(t>2)

0    NaN
1    NaN
2    3.0
3    4.0
4    5.0
dtype: float64

In [31]:
t=t.mask(t>2, "a")
t

0    1
1    2
2    a
3    a
4    a
dtype: object

- `Isin`

In [32]:
t.isin([1,'a'])

0     True
1    False
2     True
3     True
4     True
dtype: bool

- `str` : Let's you use string functions on the elements of a Series

In [33]:
r = pd.Series(["a_r","b_c","ef_de",np.nan]).str.split("_")
r

0      [a, r]
1      [b, c]
2    [ef, de]
3         NaN
dtype: object

- `isna`, `notna`, `drop_na`

In [34]:
r.isna()

0    False
1    False
2    False
3     True
dtype: bool

In [35]:
r.notna()

0     True
1     True
2     True
3    False
dtype: bool

In [40]:
r.dropna()

0      [a, r]
1      [b, c]
2    [ef, de]
dtype: object

- `astype`
- `all`
- `any`

- `cut` : Let's you convert a variable into a set of categories
- `concat` : Let's you put series side by side or add to the series

In [41]:
p1 = pd.Series(np.random.randn(6)) 
p2 = pd.cut(p1,3,labels=["low","mdeium","high"])
pd.concat([p1,p2], axis=1)

          0     1
0  1.596376  high
1  0.287438   low
2 -0.066199   low
3 -0.284891   low
4  0.121800   low
5  0.042983   low

In [42]:
pd.concat([p1,p2], axis=0)

0      1.59638
1     0.287438
2   -0.0661985
3    -0.284891
4       0.1218
5    0.0429826
0         high
1          low
2          low
3          low
4          low
5          low
dtype: object

#### Interesting
- Explode:
- combine and combine_first

### The `DataFrame` container type

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Lots of functions for cleaning and massaging data, grouping, aggregations, plotting. 

In summary, DataFrame is a two-dimensional array with heterogeneous data. For example,

<table class="table table-bordered">
<tr>
<th style="text-align:center;">Name</th>
<th style="text-align:center;">Age</th>
<th style="text-align:center;">Gender</th>
<th style="text-align:center;">Rating</th>
</tr>
<tr>
<td style="text-align:center;">Steve</td>
<td style="text-align:center;">32</td>
<td style="text-align:center;">Male</td>
<td style="text-align:center;">3.45</td>
</tr>
<tr>
<td style="text-align:center;">Lia</td>
<td style="text-align:center;">28</td>
<td style="text-align:center;">Female</td>
<td style="text-align:center;">4.6</td>
</tr>
<tr>
<td style="text-align:center;">Vin</td>
<td style="text-align:center;">45</td>
<td style="text-align:center;">Male</td>
<td style="text-align:center;">3.9</td>
</tr>
<tr>
<td style="text-align:center;">Katie</td>
<td style="text-align:center;">38</td>
<td style="text-align:center;">Female</td>
<td style="text-align:center;">2.78</td>
</tr>
</table>

The table represents the data of a sales team of an organization with their overall performance rating. The data is represented in rows and columns. Each column represents an attribute and each row represents a person.
Data Type of Columns

The data types of the four columns are as follows −

<table class="table table-bordered">
<tr>
<th style="text-align:center;">Column</th>
<th style="text-align:center;">Type</th>
</tr>
<tr>
<td style="text-align:center;">Name</th>
<td style="text-align:center;">String</th>
</tr>
<tr>
<td style="text-align:center;">Age</th>
<td style="text-align:center;">Integer</th>
</tr>
<tr>
<td style="text-align:center;">Gender</th>
<td style="text-align:center;">String</th>
</tr>
<tr>
<td style="text-align:center;">Rating</th>
<td style="text-align:center;">Float</th>
</tr>
</table>

Key Points of Data Frame
- Heterogeneous data
- Size Mutable
- Data Mutable
- Part of Pandas package
- Spreadsheet or table-like representation of data
- Can store mixed types
- Columns and rows are named
- Like a nested list, where all the sublists have the same shape (basically a matrix)

### Creating a `DataFrame`

Most frequentlty, a DataFrame will be created by reading in data from a structured file source. Some examples includes:
- A CSV ( comma seperated value) file, tab delimited files or other delimiters
- An excel file or sheet
- From a table or a query from a database

However, like Series, DataFrame accepts many different kinds of input:

- Dict of 1D ndarrays, lists, dicts, or Series
- A Series
- Another DataFrame
- 2-D numpy.ndarray
- Structured or record ndarray


Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

Let's start with a toy example. Here we create a DataFrame with two series, one of length 3 and the other of length 4

In [43]:
 d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
     "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
  }

df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

To illustrate the power of Pandas, let's create a new DataFrame from only rows 1,2 and 4 from  `d`

In [44]:
pd.DataFrame(d, index=["d", "b", "a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

What happens if we create a new dataframe from `d` using the second column and specifying a new column

In [45]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

We will focus on the foundations of working with DataFrames here. there are a ton of functions and attributes since Pandas is a mature library. The key is understand how the DataFrame structure works and how you relate what you need to manipulate to the structure. Once that relation is established you can use a variety of sources including
- the excellent [Pandas documentation](https://pandas.pydata.org/docs/user_guide/index.html)
- the [API reference](https://pandas.pydata.org/docs/reference/index.html)
- Internet sources such as [tutorials](https://www.tutorialspoint.com/python_data_science/python_data_wrangling.htm)


** Shown below is the API Documentation for DataFrame** and we will go through it a little bit

In [46]:
from IPython.display import IFrame 
display(IFrame("https://pandas.pydata.org/docs/reference/frame.html", width=800, height=300))

Let's look at some simple attributes of the DataFrame we created `df`. Recall

In [47]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

We can get:
- the number of rows and columns

In [48]:
df.shape

(4, 2)

- The index or the `rownames`

In [49]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

- The column names

In [50]:
df.columns

Index(['one', 'two'], dtype='object')

- Axes or the combined information of row and column names. This is important within the context of **multi-indexing**  hold that thought here as we will get back to it later

In [51]:
df.axes

[Index(['a', 'b', 'c', 'd'], dtype='object'),
 Index(['one', 'two'], dtype='object')]

In [52]:
df.dtypes

one    float64
two    float64
dtype: object

Let's access a single element in the DataFrame 
<div class="alert alert-warning"> <b>Note</b>: uses zero-based indexing </div>

In [53]:
df.iat[3,1]

4.0

We may also access an index on a Series or column on a DataFrame directly as an attribute. So for DataFrames the attribute will be the column name and for Series the index label

In [54]:
df.one

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

### Slicing

If you are not comfortable with the concept of Slicing, you can find a good explanation [here](https://railsware.com/blog/python-for-machine-learning-indexing-and-slicing-for-lists-tuples-strings-and-other-sequential-types/) or pretty  much by a simnple google search.  This images sums it all

  <img src="data/first-slice.png" style="height:200px" > </img>


With DataFrame, slicing inside of `[ ]` slices the rows. This is provided largely as a convenience since it is such a common operation.

<div class="alert alert-block alert-warning">
    <b>Tip!! </b>

In [55]:
df[:2]

   one  two
a  1.0  1.0
b  2.0  2.0

## So now what.. Let's look at some common operations with DataFrames

The goal of data wrangling is multi-fold. Essentially, we want to manipulate the data to either
- Gain some insight into the data say for exploratory data analysis
- Filter the data to remove some anomalous values
- Create graphical displays 
- Possibly combine data from multiple sources, perhaps you collected your data at two different times and have two separate excel sheets

### Reading in a dataframe from a file

Reading and writing from a tabular file format is very straightforward in Pandas.

In [56]:
iris = pd.read_csv('data/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Writing our `df` out to file

In [57]:
df.to_csv('results/example_df_out.csv')

In [58]:
display(IFrame("https://pandas.pydata.org/docs/user_guide/io.html", width=800, height=400))

<div class="alert alert-block alert-info">
    <b>Thought for the Day!!</b><br></br>
    <h4>Why use something like Pandas instead of excel</h4><br></br>
    In many cases, it might be simpler to use something like Excel, especially if you have small dataframes. You should use the most productive approach for yourself. If you have a larger dataset that you need to work with and perhaps make changes across multiple elements/rows/columns then a programmatic approach would be beneficial in that you can track the changes you make exactly and fix any errors that might be propagated.
        </div>

### The power of indexes

Lets focus on how to slice, dice, and generally get and set subsets of pandas objects. Pandas now supports three types of multi-axis indexing.
- `.loc` is primarily **label based**, but may also be used with a boolean array. .loc will raise KeyError when the items are not found. Some allowed inputs are:
 - A single label, e.g. 5 or 'a' (Note that 5 is interpreted as a label of the index. This use is not an integer position along the index.).
 - A list or array of labels ['a', 'b', 'c'].
 - A slice object with labels 'a':'f' (Note that contrary to usual Python slices, both the start and the stop are included, when present in the index! See Slicing with labels and Endpoints are inclusive.)

- `.iloc` is primarily **integer position based** (from 0 to length-1 of the axis),Some allowed inputs are:
 - An integer e.g. 5.
 - A list or array of integers [4, 3, 0].
 - A slice object with ints 1:7.

See more at [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html#)

So let's slice and dice our Iris data set. First let's get a brief view

In [59]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

lets select some rows based on `.loc` slicing, specifically we are selecting every 15th row starting from the 10th row

In [60]:
iris.loc[10::15]

     sepal_length  sepal_width  petal_length  petal_width          species
10            5.4          3.7           1.5          0.2      Iris-setosa
25            5.0          3.0           1.6          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
55            5.7          2.8           4.5          1.3  Iris-versicolor
70            5.9          3.2           4.8          1.8  Iris-versicolor
85            6.0          3.4           4.5          1.6  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
115           6.4          3.2           5.3          2.3   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica

The above treats the `index` as an integer since we did not specify any rownames when  we loaded the data. However what happens when we treat `index` as a label. Let's try it. Can you guess what happened?

In [61]:
iris.loc['10'::15]

     sepal_length  sepal_width  petal_length  petal_width          species
2             4.7          3.2           1.3          0.2      Iris-setosa
17            5.1          3.5           1.4          0.3      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
47            4.6          3.2           1.4          0.2      Iris-setosa
62            6.0          2.2           4.0          1.0  Iris-versicolor
77            6.7          3.0           5.0          1.7  Iris-versicolor
92            5.8          2.6           4.0          1.2  Iris-versicolor
107           7.3          2.9           6.3          1.8   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica

We also create the `index (rownames)` from a column in your dataset if you prefer

In [62]:
new_index=iris.species + ["_" + str(x) for x in iris.index]
new_iris= iris.set_axis(new_index.to_list(), axis=0)

<div class="alert alert-block alert-info">
    <b>Tip!!</b><br></br><br></br>
    I created a new dataset with the index since I did not want to replace the index in my `iris` dataset. However, you could also look into functions such as 
    <ul><li> `set_index`</li>
    <li> `reindex`</li> </ul><br></br>
    that will let you modify the index in place
        </div>

In [63]:
new_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species
Iris-setosa_0,5.1,3.5,1.4,0.2,Iris-setosa
Iris-setosa_1,4.9,3.0,1.4,0.2,Iris-setosa
Iris-setosa_2,4.7,3.2,1.3,0.2,Iris-setosa
Iris-setosa_3,4.6,3.1,1.5,0.2,Iris-setosa
Iris-setosa_4,5.0,3.6,1.4,0.2,Iris-setosa

In [64]:
new_iris.loc['Iris-setosa_1'::15]

,sepal_length,sepal_width,petal_length,petal_width,species
Iris-setosa_1,4.9,3.0,1.4,0.2,Iris-setosa
Iris-setosa_16,5.4,3.9,1.3,0.4,Iris-setosa
Iris-setosa_31,5.4,3.4,1.5,0.4,Iris-setosa
Iris-setosa_46,5.1,3.8,1.6,0.2,Iris-setosa
Iris-versicolor_61,5.9,3.0,4.2,1.5,Iris-versicolor
Iris-versicolor_76,6.8,2.8,4.8,1.4,Iris-versicolor
Iris-versicolor_91,6.1,3.0,4.6,1.4,Iris-versicolor
Iris-virginica_106,4.9,2.5,4.5,1.7,Iris-virginica
Iris-virginica_121,5.6,2.8,4.9,2.0,Iris-virginica
Iris-virginica_136,6.3,3.4,5.6,2.4,Iris-virginica

One important operator is the  `[ ]` operator for DataFrames. You can use it to
- access rows by slicing

In [65]:
df[:3]

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0

- To access columns or a list of columns

In [66]:
df["one"]

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [67]:
df[["one", "two"]]

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

<div class="alert alert-danger">
<b>Note!!!</b><br></br>
This has confused me as well ["one","two"] is a list not some form of array notation
</div>

- Finally you will perform operations on DataFrame rows such as select rows based on column condition

In [68]:
df[df.two > 2]

   one  two
c  3.0  3.0
d  NaN  4.0

<div class="alert alert-block alert-warning">
    <b>Tip!! </b><br></br>
       For swapping columns This will not work<br></br><br></br>
       <code>df.loc[:, ['B', 'A']] = df[['A', 'B']]</code>
    <br></br><br></br>
          The correct way to swap column values is by using raw values:<br></br>
            <code>df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()</code>
    <div>

### Useful functions
#### Melt
Melt converts a `wide` data format to a `long` data format

In [69]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},

                   'B': {0: 1, 1: 3, 2: 5},

                   'C': {0: 2, 1: 4, 2: 6}})

df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [70]:
#df.melt(id_vars=['A'], value_vars=['B', 'C'])
df.melt(id_vars=['A'], value_vars=['B','C'], var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5
3  a         C          2
4  b         C          4
5  c         C          6

#### Query or Condition
This is equivalent to using the `[ ]` operator for filtering rows based on some criteria for one or more columns, The query code below is equivalent to filtering with the `[ ]` by:

```
new_iris[(new_iris["species"] == "Iris-setosa") & (new_iris["petal_length"] < 1.2) ]
```

In [71]:
new_iris.query('species == "Iris-setosa" & petal_length < 1.2')

,sepal_length,sepal_width,petal_length,petal_width,species
Iris-setosa_13,4.3,3.0,1.1,0.1,Iris-setosa
Iris-setosa_22,4.6,3.6,1.0,0.2,Iris-setosa

#### Duplicated
So lets use the `iris` dataset to create a dataset with duplicated rows

In [124]:
new_iris=iris.query('species == "Iris-setosa" & petal_length < 1.3')
new_iris

    sepal_length  sepal_width  petal_length  petal_width      species
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa

Lets append one of the lines from the dataset and create a duplicate row

In [125]:
new_iris=new_iris.append(new_iris.iloc[2,:], ignore_index=True)
new_iris

   sepal_length  sepal_width  petal_length  petal_width      species
0           4.3          3.0           1.1          0.1  Iris-setosa
1           5.8          4.0           1.2          0.2  Iris-setosa
2           4.6          3.6           1.0          0.2  Iris-setosa
3           5.0          3.2           1.2          0.2  Iris-setosa
4           4.6          3.6           1.0          0.2  Iris-setosa

In [127]:
new_iris.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

As we can see we get a boolean that indicates which row is duplicated and we could use that to 
- Show which rows are duplicated

In [133]:
new_iris[~new_iris.duplicated()]

   sepal_length  sepal_width  petal_length  petal_width      species
0           4.3          3.0           1.1          0.1  Iris-setosa
1           5.8          4.0           1.2          0.2  Iris-setosa
2           4.6          3.6           1.0          0.2  Iris-setosa
3           5.0          3.2           1.2          0.2  Iris-setosa

- remove the duplicated rows

In [132]:
new_iris[~new_iris.duplicated()]

   sepal_length  sepal_width  petal_length  petal_width      species
0           4.3          3.0           1.1          0.1  Iris-setosa
1           5.8          4.0           1.2          0.2  Iris-setosa
2           4.6          3.6           1.0          0.2  Iris-setosa
3           5.0          3.2           1.2          0.2  Iris-setosa

#### Apply and Applymap

#### Append and Concat
Let's see how to add rows to a dataset and add columns to a dataset. First we start with
- A DataFrame with the same column names

In [72]:
df = pd.DataFrame([[1, 2], [3, 4],], columns=list('AB'))

df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

df.append(df2)

     A    B    C  one  two
0    a  1.0  2.0  NaN  NaN
1    b  3.0  4.0  NaN  NaN
2    c  5.0  6.0  NaN  NaN
0  NaN  NaN  NaN  5.0  6.0
1  NaN  NaN  NaN  7.0  8.0

- A DataFrame with differing column names

In [73]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['one','two'])

df.append(df2)

   A  B    C
0  a  1  2.0
1  b  3  4.0
2  c  5  6.0
0  5  6  NaN
1  7  8  NaN

- With ignore_index set to True:

In [74]:
df.append(df2, ignore_index=True)

   A  B    C
0  a  1  2.0
1  b  3  4.0
2  c  5  6.0
3  5  6  NaN
4  7  8  NaN

- Lastly, we see how we can add columns to the DataFrame

In [75]:
pd.concat([df.reset_index(drop=True), df2.reset_index(drop=True)], axis=1)

   A  B  C    A    B
0  a  1  2  5.0  6.0
1  b  3  4  7.0  8.0
2  c  5  6  NaN  NaN

#### Merge
There are many ways to merge DataFrames cinluding database type joins such as inner joins, outer joins and cross joins. Here we will illustrate the simplest and probably the most common type the `inner join`. This usually means joining on a single column, that has the same name and keeping the overlapping values ( in commonspeak).

In [76]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo2'],

                    'value': [1, 2, 3, 5]})

df1

   lkey  value
0   foo      1
1   bar      2
2   baz      3
3  foo2      5

In [77]:
df2 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],

                    'value': [5, 6, 7, 8]})

df2

  lkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [78]:
df1.merge(df2, on='lkey', how='inner')

  lkey  value_x  value_y
0  foo        1        5
1  foo        1        8
2  bar        2        6
3  baz        3        7

There is very detailed set of explanations and approaches provided in the [User guidefor Pandas](https://pandas.pydata.org/docs/user_guide/merging.html)

In [79]:
display(IFrame("https://pandas.pydata.org/docs/user_guide/merging.html", width=800, height=400))

### Categorical vs. categorical columns
- stacked bar plot